<head>
    <title><%= yield(:title) %> | Ruby on Rails Tutorial Sample App</title>
  </head>
  <body>
    <h1>Contact Page</h1>
    <p>
      For inquiries, send me an email at grace.m.sojor@framgia.com
    </p>
  </body>