<footer class="footer">
  <small>
    The <a>Training Project</a>
    <a href="http://www.gracesojor.com/">Blog App by Grace Sojor</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://news.railstutorial.org/">News</a></li>
    </ul>
  </nav>
</footer>